/* Write your CSS here */
.list-item {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
  list-style-type: none;
}

.text {
  font-family: 'Roboto';
  font-size: 12px;
  color: #475569;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .text {
    font-size: 20px;
  }
}

.button {
  outline: none;
  background-color: transparent;
  cursor: pointer;
  border: none;
}

.arrow-icon {
  width: 20px;
  height: 20px;
}
